      html, body, #map-canvas {
        height: 100%;
        padding: 0px;
        margin-top: -10px;
        margin-bottom: -5px;
      }

h1 {
    font-family: YaleDisplay;
    font-size: 28px;
    color: white;
    background-color: #0f4d92;
    text-align: center;
    padding: 8px;
}

h2 {
    font-family: YaleDisplay;
    font-size: 20px;
    color: white;
    background-color: #0f4d92;
    text-align: center;
    padding: 5px;
    maxWidth: 700px;
    margin-top: 0px;
    margin-bottom: -5px;
}

#clockbox {
    font-family: YaleDisplay;
    font-size: 14px;
    color: white;
    background-color: #0f4d92;
    text-align: center;
    padding: 6px;
    margin-top: -26px;
    margin-bottom: 3px;
}

#legendstatus {
    font-family: YaleDisplay;
    font-size: 14px;
    color: white;
    background-color: #0f4d92;
    text-align: left;
    position: fixed;
    top: 83px;
    right: 8px;
    padding-top: 10px;
    padding-left: 10px;
    width: 135px;
}

#footer {
    font-family: YaleDisplay;
    font-size: 14px;
    color: white;
    background-color: #0f4d92;
    text-align: center;
    margin-top: -8px;
    margin-bottom: 4px;
    padding: 0px;
}

table {
    border-spacing: 0px;
    width: 250px;
    border-collapse: collapse;
    padding:0;
}

td {
    padding: 0;
}
